<div id="office-faces">
</div>

<script>
  window.pageConfig = {
    onLoad: function(App) {
      var props = {"name": "<%= Guardian.Plug.current_resource(@conn)["name"] %>"};
      App.officePage(props);
    }
  };
</script>
